/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    font-family: Roboto;
}

.required {
    font-size: 12px;
    color: red;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0 1px 0 0 #000;
    box-shadow: 0 1px 0 0 #000;
}

input:not([type]):focus:not([readonly])+label, input[type="text"]:not(.browser-default):focus:not([readonly])+label, input[type="password"]:not(.browser-default):focus:not([readonly])+label, input[type="email"]:not(.browser-default):focus:not([readonly])+label, input[type="url"]:not(.browser-default):focus:not([readonly])+label, input[type="time"]:not(.browser-default):focus:not([readonly])+label, input[type="date"]:not(.browser-default):focus:not([readonly])+label, input[type="datetime"]:not(.browser-default):focus:not([readonly])+label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly])+label, input[type="tel"]:not(.browser-default):focus:not([readonly])+label, input[type="number"]:not(.browser-default):focus:not([readonly])+label, input[type="search"]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #000;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 31px !important;
    color: black !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: black !important;
}

.mat-form-field-prefix .mat-icon-button, .mat-form-field-suffix .mat-icon-button {
    width: 30px !important;
}