<div class="row">

</div>

<div class="row">

  <div class="col s12 m4 l2">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="card animated fadeInDown border-carta" [routerLink]="['/conductores']">
            <div class="card-content center fondo-carta-gris ">
              <a class="waves-effect waves-light btn-large top-40 nav-link" [routerLink]="['/conductores']">
                <i class="material-icons">person</i>
              </a>
              <p class="margin-top-20">
                <a class="color-gris-letra font-20 negrita">Conductores</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card animated fadeInDown " [routerLink]="['/vehiculos']">
            <div class="card-content center fondo-carta-gris border-carta">
              <a class="waves-effect waves-light btn-large top-40" [routerLink]="['/vehiculos']">
                <i class="material-icons">directions_bus</i>
              </a>
              <p class="margin-top-20">
                <a href="" class="color-gris-letra font-20 negrita">Vehículos</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card animated fadeInDown border-carta">
            <div class="card-content center fondo-carta-gris">
              <a class="waves-effect waves-light btn-large top-40" href="#">
                <i class="material-icons">assignment_ind</i>
              </a>
              <p class="margin-top-20">
                <a href="" class="color-gris-letra font-20 negrita">Contratos</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card animated fadeInDown border-carta-admin" [routerLink]="['/usuarios']">
            <div class="card-content center fondo-carta-gris ">
              <a class="waves-effect waves-light btn-large top-40 nav-link back-azul-claro" [routerLink]="['/usuarios']">
                <i class="material-icons">people</i>
              </a>
              <p class="margin-top-20">
                <a class="color-gris-letra font-20 negrita">Usuarios</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card animated fadeInDown border-carta-admin" [routerLink]="['/estadisticas']">
            <div class="card-content center fondo-carta-gris ">
              <a class="waves-effect waves-light btn-large top-40 nav-link back-azul-claro" [routerLink]="['/estadisticas']">
                <i class="material-icons">show_chart</i>
              </a>
              <p class="margin-top-20">
                <a class="color-gris-letra font-20 negrita">Estadisticas</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card animated fadeInDown border-carta-calidad" [routerLink]="['/calidad']">
            <div class="card-content center fondo-carta-gris ">
              <a class="waves-effect waves-light btn-large top-40 nav-link back-amarillo-claro" [routerLink]="['/calidad']">
                <i class="material-icons">check</i>
              </a>
              <p class="margin-top-20">
                <a class="color-gris-letra font-20 negrita">Calidad</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col s12 m3 l10">
    <div class="card">
      <div class="card-content">
        <div class="row">

          <div class="col s12 m6 l4">
            <div class="card animated fadeInRight">
              <div class="card-content fondo-carta-gris">
                <div class="center">
                  <h6 class="color-gris-letra negrita">Alertas de Conductores</h6>
                </div>
                <ul class="collection">
                  <li *ngFor="let item of alertasConductores; let i=index" [ngClass]="{ yellow: item.tipo_alerta == 1, red: item.tipo_alerta == 2  }"
                    class="collection-item  lighten-3 ">

                    <span class="title">{{item.alerta}}</span>
                    <p class="conMarginTop">
                      <b>Conductor: </b> {{item.nombre}}</p>
                    <p class="conMarginTop">
                      <b>CC: </b>{{item.identificacion}}</p>
                    <p class="conMarginTop">
                      <b>Fecha Expiración: </b>{{item.fecha}}</p>
                    <a href="#!" class="secondary-content">
                      <i class="material-icons">edit</i>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="card animated fadeInRight">
              <div class="card-content fondo-carta-gris">
                <div class="center">
                  <h6 class="color-gris-letra negrita">Alertas de Vehículos</h6>
                </div>
                <ul class="collection">
                  <li *ngFor="let item of alertasVehiculos; let i=index" [ngClass]="{ yellow: item.tipo_alerta == 1, red: item.tipo_alerta == 2  }"
                    class="collection-item  lighten-3 ">

                    <span class="title">{{item.alerta}}</span>
                    <p class="conMarginTop">
                      <b>Placa: </b> {{item.placa}}</p>
                    <p class="conMarginTop">
                      <b>Fecha Expiración: </b>{{item.fecha}}</p>
                    <a href="#!" class="secondary-content">
                      <i class="material-icons">edit</i>
                    </a>
                  </li>

                </ul>
              </div>

            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="card animated fadeInRight">
              <div class="card-content fondo-carta-gris ">
                <div class="center">
                  <h6 class="color-gris-letra negrita">Alertas de Contratos</h6>
                </div>
                <!-- <ul class="collection">
                  <li class="collection-item yellow lighten-4">Alvin</li>
                  <li class="collection-item red lighten-3">Alvin</li>
                  <li class="collection-item yellow lighten-4">Alvin</li>
                  <li class="collection-item red lighten-3">Alvin</li>
                </ul> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>