 .waves-effect.waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
   of the button to still show through. */
     background-color: rgba(121, 85, 72, 0.65);
 }

 .btn-large {
     background-color: #217413;
 }

 .fondo-carta-amarilla {
     background-color: #feffc7;
 }

 .fondo-carta {
     background-color: #f9f9f9;
 }

 .fondo-carta-gris {
     background-color: #dee2df;
 }

 .fondo-carta-verde {
     background-color: #a4ffa2;
 }

 .fondo-carta-azul {
     background-color: #a2ffee;
 }

 .border-carta {
     border-top: solid 3px #217413;
 }

 .top-40 {
     top: -40px;
 }

 .margin-top-20 {
     margin-top: -20px;
 }

 .card .card-content p {
     margin-top: -20px;
 }

 .negrita {
     font-weight: 500;
 }

 .font-20 {
     font-size: 20px;
 }

 .color-negro {
     color: black;
 }

 .color-gris-letra {
     color: #494949;
 }