<div class="had-container">

  <div class="parallax-container logueo">
    <div class="card style-login">
      <div class="card-content">
        <h4 class="centro">
          <b>¡Hola!</b>
        </h4>
        <h5 class="centro">Bienvenido</h5>

        <mat-form-field class="tam-input">
          <input type="text" class="style-input" matInput placeholder="Usuario:">
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="tam-input">
          <input type="password" class="style-input" matInput placeholder="Contraseña:">
          <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
        <div>
          <a class=" back-negro waves-effect waves-light btn">Ingresar</a>

        </div>
        <label style='float: right;'>
          <a class='color-negro' href='#!'>
            <b>Recordar Contraseña</b>
          </a>
        </label>

      </div>
    </div>

  </div>
</div>