<div class="continer">

  <div class="row">
    <div class="col s12">
      <ul class="collapsible popout">
        <li class="active">
          <div class="collapsible-header">
            <i class="material-icons">directions_bus
            </i>Agregar Vehículo
            <p class="description">Para optimizar espacio en pantalla, presione aqui!!</p>

          </div>

          <div class="collapsible-body card">
            <div class="card-content">
              <section id="agregarVehiculo">


                <form #vehiculoForm="ngForm" (ngSubmit)="addVehiculo(vehiculoForm)">
                  <div class="row">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo._id">
                    <div class="input-field col s12 m6 l4 margin-button-input">
                      <input type="text" name="plate" #plate="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.plate" placeholder="" required
                        maxlength="6" minlength="5">
                      <label class="active">Número de la Placa*:</label>
                      <div *ngIf="plate.touched && !plate.valid">
                        <div class="required" *ngIf="plate.errors.required">La Placa es Requerida</div>
                        <div class="required" *ngIf="plate.errors.maxlength">La Placa debe contener máximo {{plate.errors.maxlength.requiredLength}} caracteres</div>
                        <div class="required" *ngIf="plate.errors.minlength">La Placa debe contener mínimo {{plate.errors.minlength.requiredLength}} caracteres</div>
                      </div>
                    </div>

                    <div class="input-field col s12 m6 l4 margin-button-input">
                      <input type="text" name="model" #model="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.model" placeholder="" required>
                      <label class="active">Marca del Vehículo:</label>
                      <div *ngIf="model.touched && !model.valid">
                        <div class="required" *ngIf="model.errors.required">La Marca del Vehículo es Requerido</div>
                      </div>
                    </div>


                    <div class="input-field col s12 m6 l4 margin-button-input">
                      <input type="text" name="year" #year="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.year" placeholder="" required
                        maxlength="4" minlength="4">
                      <label class="active">Modelo del Vehículo (Año):</label>
                      <div *ngIf="year.touched && !year.valid">
                        <div class="required" *ngIf="year.errors.required">El modelo del Vehículo es Requerido (Año)</div>
                        <div class="required" *ngIf="year.errors.maxlength">El Año debe contener máximo {{year.errors.maxlength.requiredLength}} caracteres</div>
                        <div class="required" *ngIf="year.errors.minlength">El Año debe contener mínimo {{year.errors.minlength.requiredLength}} caracteres</div>
                      </div>
                    </div>

                    <div class="input-field col s12 m6 l4 margin-button-input">
                      <input type="text" name="lateral" #lateral="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.lateral" placeholder=""
                        required maxlength="5" minlength="4">
                      <label class="active">Lateral del Vehículo:</label>
                      <div *ngIf="lateral.touched && !lateral.valid">
                        <div class="required" *ngIf="lateral.errors.required">El Lateral del Vehículo es Requerido</div>
                        <div class="required" *ngIf="lateral.errors.maxlength">El lateral del vehiculo debe contener máximo {{lateral.errors.maxlength.requiredLength}} caracteres</div>
                        <div class="required" *ngIf="lateral.errors.minlength">El lateral del vehiculo contener mínimo {{lateral.errors.minlength.requiredLength}} caracteres</div>

                      </div>
                    </div>
                    <div class="input-field col s12 m6 l4 margin-button-input">
                      <input type="text" name="operation_card" #operation_card="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.operation_card"
                        placeholder="" required>
                      <label class="active">Tarjeta de Operación:</label>
                      <div *ngIf="operation_card.touched && !operation_card.valid">
                        <div class="required" *ngIf="operation_card.errors.required">La Tarjeta de Operación es Requerida</div>
                      </div>
                    </div>
                    <div class="input-field col s12 m6 l4 margin-button-input">
                      <mat-form-field>
                        <label class="tamaño-letra active">Clase del Vehículo:</label>
                        <mat-select class="border-select" name="class" #class="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.class" required
                          [(value)]="vehiculosService.selectedVehiculo.class">
                          <mat-option value="" disabled selected>Seleccione Clase de Vehículo:</mat-option>
                          <mat-option value="Bus">Bus</mat-option>
                          <mat-option value="Buseta">Buseta</mat-option>
                          <mat-option value="Camioneta doble cabina">Camioneta Doble Cabina</mat-option>
                          <mat-option value="Microbús">Microbús</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="class.touched && !class.valid">
                        <div class="required" *ngIf="class.errors.required">La clase del vehiculo es requerido</div>
                      </div>
                    </div>
                    <div class="input-field col s12 m6 l3 margin-button-input">
                      <input type="text" name="passengers" #passengers="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.passengers" placeholder=""
                        required>
                      <label class="active">Cant. Pasajeros:</label>
                      <div *ngIf="passengers.touched && !passengers.valid">
                        <div class="required" *ngIf="passengers.errors.required">La Cantidad de Pasajeros es Requerido</div>
                      </div>
                    </div>

                    <div class="col s12 m6 l3 margin-button-input">
                      <mat-form-field>
                        <input matInput class="example-full-width" [matDatepicker]="picker_exp_to" [min]="today" name="exp_to" #exp_to="ngModel"
                          [(ngModel)]="vehiculosService.selectedVehiculo.exp_to" placeholder="Fecha de Expiración de la Tarjeta de Operación"
                          required>
                        <mat-datepicker-toggle matSuffix [for]="picker_exp_to"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker_exp_to></mat-datepicker>
                      </mat-form-field>
                      <div *ngIf="exp_to.touched && !exp_to.valid">
                        <div class="required" *ngIf="exp_to.errors.required">La Fecha de Expiración de la Tarjeta de Operacion es Requerida</div>
                      </div>
                    </div>
                    <div class="col s12 m6 l3 margin-button-input">
                      <mat-form-field>
                        <input matInput class="example-full-width" [matDatepicker]="picker_exp_soat" [min]="today" name="exp_soat" #exp_soat="ngModel"
                          [(ngModel)]="vehiculosService.selectedVehiculo.exp_soat" placeholder="Fecha de Expiración del SOAT"
                          required>
                        <mat-datepicker-toggle matSuffix [for]="picker_exp_soat"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker_exp_soat></mat-datepicker>
                      </mat-form-field>
                      <div *ngIf="exp_soat.touched && !exp_soat.valid">
                        <div class="required" *ngIf="exp_soat.errors.required">La Fecha de Expiración del SOAT es Requerida</div>
                      </div>
                    </div>
                    <div class="col s12 m6 l3 margin-button-input">
                      <mat-form-field>
                        <input matInput class="example-full-width" [matDatepicker]="picker_exp_prev" [min]="today" name="exp_prev" #exp_prev="ngModel"
                          [(ngModel)]="vehiculosService.selectedVehiculo.exp_prev" placeholder="Fecha de Expiración de la Revision Preventiva"
                          required>
                        <mat-datepicker-toggle matSuffix [for]="picker_exp_prev"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker_exp_prev></mat-datepicker>
                      </mat-form-field>
                      <div *ngIf="exp_prev.touched && !exp_prev.valid">
                        <div class="required" *ngIf="exp_prev.errors.required">La Fecha de Expiración de la revision preventiva es Requerida</div>
                      </div>
                    </div>
                    <div class="col s12 m6 l3 margin-button-input">
                      <mat-form-field>
                        <input matInput class="example-full-width" [matDatepicker]="picker_exp_tech" [min]="today" name="exp_tech" #exp_tech="ngModel"
                          [(ngModel)]="vehiculosService.selectedVehiculo.exp_tech" placeholder="Fecha de Expiración de la Revision TecnicoMecanica"
                          required>
                        <mat-datepicker-toggle matSuffix [for]="picker_exp_tech"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker_exp_tech></mat-datepicker>
                      </mat-form-field>
                      <div *ngIf="exp_tech.touched && !exp_tech.valid">
                        <div class="required" *ngIf="exp_tech.errors.required">La Fecha de Expiración de la revision preventiva es Requerida</div>
                      </div>
                    </div>
                    <div class="col s12 m6 l3 margin-button-input">
                      <mat-form-field>
                        <input matInput class="example-full-width" [matDatepicker]="picker_exp_rcc" [min]="today" name="exp_rcc" #exp_rcc="ngModel"
                          [(ngModel)]="vehiculosService.selectedVehiculo.exp_rcc" placeholder="Fecha de Expiración de la Responsabilidad Civil Contractual"
                          required>
                        <mat-datepicker-toggle matSuffix [for]="picker_exp_rcc"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker_exp_rcc></mat-datepicker>
                      </mat-form-field>
                      <div *ngIf="exp_rcc.touched && !exp_rcc.valid">
                        <div class="required" *ngIf="exp_rcc.errors.required">La Fecha de Expiración de la Responsabilidad Civil Contractual es Requerida</div>
                      </div>
                    </div>
                    <div class="col s12 m6 l2 margin-button-input">
                      <mat-card-content>
                        <label class="tamaño-letra active">Tipo Combustible:</label>
                        <section class="example-section">
                          <mat-slide-toggle class="example-margin" name="GNV" #GNV="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.GNV">
                            <p class="tamaño-letra-19" *ngIf="vehiculosService.selectedVehiculo.GNV">GVN</p>
                            <p class="tamaño-letra-19" *ngIf="!vehiculosService.selectedVehiculo.GNV">Otro</p>
                          </mat-slide-toggle>
                        </section>
                      </mat-card-content>
                    </div>
                    <div class="col s12 m6 l3 push-l1 margin-button-input" *ngIf="vehiculosService.selectedVehiculo.GNV">
                      <mat-form-field>
                        <input matInput class="example-full-width" [matDatepicker]="picker_exp_gnv" [min]="today" name="exp_gnv" #exp_gnv="ngModel"
                          [(ngModel)]="vehiculosService.selectedVehiculo.exp_gnv" placeholder="Fecha de Expiración de GNV"
                          required>
                        <mat-datepicker-toggle matSuffix [for]="picker_exp_gnv"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker_exp_gnv></mat-datepicker>
                      </mat-form-field>
                      <div *ngIf="exp_gnv.touched && !exp_gnv.valid">
                        <div class="required" *ngIf="exp_gnv.errors.required">La Fecha de Expiración del GNV es Requerida</div>
                      </div>
                    </div>
                    <div class="col s12 m6 l2 margin-button-input">
                      <mat-card-content>
                        <label class="tamaño-letra active">Estado:</label>
                        <section class="example-section">
                          <mat-slide-toggle class="example-margin" name="active" #active="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.active">
                            <p class="tamaño-letra-19" *ngIf="vehiculosService.selectedVehiculo.active">Activo</p>
                            <p class="tamaño-letra-19" *ngIf="!vehiculosService.selectedVehiculo.active">Inactivo</p>
                          </mat-slide-toggle>
                        </section>
                      </mat-card-content>
                    </div>
                    <div class="col s12 m6 l2 margin-button-input">
                      <mat-card-content>
                        <label class="tamaño-letra active">Tipo:</label>
                        <section class="example-section">
                          <mat-slide-toggle class="example-margin" name="internal" #internal="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.internal">
                            <p class="tamaño-letra-19" *ngIf="vehiculosService.selectedVehiculo.internal">Interno</p>
                            <p class="tamaño-letra-19" *ngIf="!vehiculosService.selectedVehiculo.internal">Externo</p>
                          </mat-slide-toggle>
                        </section>
                      </mat-card-content>
                    </div>
                  </div>
                  <div class="row">
                    <div class="card-action">
                      <div class="input-field col col s12 ">
                        <button class="btn btn-default right darkgray " (click)="resetForm(conductorForm)"> Cancelar </button>
                        <button class="btn right waves-effect black margin-separe"> Guardar </button>
                      </div>
                    </div>
                  </div>

                </form>
              </section>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">directions_bus</i>Listado de Vehículos
        </div>
        <div class="card-conten">
          <table #dataTable ng="dataTable" class="display" style="width: 90%; margin: 0px 26px;">
            <thead>
              <tr>
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Lateral</th>
                <th>Clase</th>
                <th>N° Pasajeros</th>
                <th>Tipo</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vehiculo of vehiculosService.vehiculos">
                <td>{{vehiculo.plate}}</td>
                <td>{{vehiculo.model}}</td>
                <td>{{vehiculo.year}}</td>
                <td>{{vehiculo.lateral}}</td>
                <td>{{vehiculo.class}}</td>
                <td>{{vehiculo.passengers}}</td>
                <td>{{vehiculo.GNV== true ? 'GNV':'Otro'}} </td>
                <td>
                  <button class="btn black margin-separe" (click)="editVehiculo(vehiculo)" type="button">
                    <i class="material-icons">edit</i>
                  </button>
                  <button class="btn darkgray modal-trigger " type="button" href="#modal1" (click)="deleteVehiculo(vehiculo._id)">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>



        </div>
      </div>
    </div>

  </div> -->
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">directions_bus</i>Listado de Vehículos
        </div>
        <div class="card-conten">
          <mat-form-field class="style-search">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

            <!-- Placa Column -->
            <ng-container matColumnDef="plate">
              <th mat-header-cell *matHeaderCellDef class="style-head-table"> Placa </th>
              <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
            </ng-container>

            <!-- Marca Column -->
            <ng-container matColumnDef="model">
              <th mat-header-cell *matHeaderCellDef class="style-head-table"> Marca </th>
              <td mat-cell *matCellDef="let element"> {{element.model}} </td>
            </ng-container>

            <!-- Modelo Column -->
            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef class="style-head-table"> Modelo </th>
              <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>

            <!-- Lateral Column -->
            <ng-container matColumnDef="lateral">
              <th mat-header-cell *matHeaderCellDef class="style-head-table"> Lateral </th>
              <td mat-cell *matCellDef="let element"> {{element.lateral}} </td>
            </ng-container>

            <!-- Clase Column -->
            <ng-container matColumnDef="class">
              <th mat-header-cell *matHeaderCellDef class="style-head-table"> Clase </th>
              <td mat-cell *matCellDef="let element"> {{element.class}} </td>
            </ng-container>

            <!-- num pasajers Column -->
            <ng-container matColumnDef="passengers">
              <th mat-header-cell *matHeaderCellDef class="style-head-table"> Num. Pasajeros </th>
              <td mat-cell *matCellDef="let element"> {{element.passengers}} </td>
            </ng-container>
            <!--tipo Column -->
            <ng-container matColumnDef="GNV">
              <th mat-header-cell *matHeaderCellDef class="style-head-table"> Tipo </th>
              <td mat-cell *matCellDef="let element"> {{element.GNV== true ? 'GNV':'Otro'}} </td>
            </ng-container>
            <!--tipo Column -->
            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef class="style-head-table"> Opciones </th>
              <td mat-cell *matCellDef="let element">
                <a href="/vehiculos#agregarVehiculo">
                  <button class="btn black margin-separe" (click)="editVehiculo(element)" type="button">
                    <i class="material-icons">edit</i>
                  </button>
                </a>
                <button class="btn darkgray modal-trigger " type="button" href="#modal1" (click)="deleteVehiculo(element._id)">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



        </div>
      </div>
    </div>

  </div>

</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h5>¿Esta completamente seguro de Eliminar este Vehículo?</h5>
  </div>
  <div class="modal-footer">

    <button class="btn btn-default right darkgray modal-close "> No </button>
    <button class="btn right waves-effect black margin-separe-lado modal-close" (click)="eliminar()"> Si </button>
  </div>
</div>