<div class="continer">

  <div class="row">
    <div class="col s12">
      <ul class="collapsible popout">
        <li class="active">
          <div class="collapsible-header">
            <i class="material-icons">directions_bus
            </i>Agregar Vehículo</div>

          <div class="collapsible-body card">
            <div class="card-content">
              <form #vehiculoForm="ngForm" (ngSubmit)="addVehiculo(vehiculoForm)">
                <div class="row">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo._id">
                  <div class="input-field col s12 m6 l4">
                    <input type="text" name="plate" #plate="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.plate" placeholder="Escriiba el Número de la Placa"
                      required maxlength="6" minlength="5">
                    <label>Número de la Placa*:</label>
                    <div *ngIf="plate.touched && !plate.valid">
                      <div class="required" *ngIf="plate.errors.required">Placa es Requerida</div>
                      <div class="required" *ngIf="plate.errors.maxlength">Placa debe contener máximo {{plate.errors.maxlength.requiredLength}} caracteres</div>
                      <div class="required" *ngIf="plate.errors.minlength">Placa debe contener mínimo {{plate.errors.minlength.requiredLength}} caracteres</div>
                    </div>
                  </div>

                  <div class="input-field col s12 m6 l4">
                    <input type="text" name="model" #model="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.model" placeholder="Escriba el Modelo del Vehículo"
                      required>
                    <label>Marca del Vehículo:</label>
                    <div *ngIf="model.touched && !model.valid">
                      <div class="required" *ngIf="model.errors.required">Marca del Vehículo es Requerido</div>
                    </div>
                  </div>


                  <div class="input-field col s12 m6 l4">
                    <input type="text" name="year" #year="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.year" placeholder="Escriba el Año del Vehículo"
                      required maxlength="4" minlength="4">
                    <label>Año del Vehículo:</label>
                    <div *ngIf="year.touched && !year.valid">
                      <div class="required" *ngIf="year.errors.required">Año del Vehículo es Requerido</div>
                      <div class="required" *ngIf="year.errors.maxlength">El Año debe contener máximo {{year.errors.maxlength.requiredLength}} caracteres</div>
                      <div class="required" *ngIf="year.errors.minlength">El Año debe contener mínimo {{year.errors.minlength.requiredLength}} caracteres</div>
                    </div>
                  </div>

                  <div class="input-field col s12 m6 l4">
                    <input type="text" name="lateral" #lateral="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.lateral" placeholder="Escriba el Lateral del Vehículo"
                      required>
                    <label>Lateral del Vehículo:</label>
                    <div *ngIf="lateral.touched && !lateral.valid">
                      <div class="required" *ngIf="lateral.errors.required">Lateral del Vehículo es Requerido</div>
                    </div>
                  </div>
                  <div class="input-field col s12 m6 l4">
                    <input type="text" name="operation_card" #operation_card="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.operation_card"
                      placeholder="Escriba el operation_card del Vehículo" required>
                    <label>Tarjeta de Operación:</label>
                    <div *ngIf="operation_card.touched && !operation_card.valid">
                      <div class="required" *ngIf="operation_card.errors.required">la Tarjeta de Operación es Requerida</div>
                    </div>
                  </div>
                  <div class="input-field col s12 m6 l4">
                    <mat-form-field>
                      <label class="tamaño-letra">Clase del Vehículo:</label>
                      <mat-select class="border-select" name="class" #class="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.class" [(value)]="vehiculosService.selectedVehiculo.class">
                        <mat-option value="" disabled selected>Seleccione tipo de Vehículo:</mat-option>
                        <mat-option value="Bus">Bus</mat-option>
                        <mat-option value="Buseta">Buseta</mat-option>
                        <mat-option value="Camioneta doble cabina">Camioneta Doble Cabina</mat-option>
                        <mat-option value="Microbus">Microbús</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="input-field col s12 m6 l3">
                    <input type="text" name="passengers" #passengers="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.passengers" placeholder="Escriba el passengers del Vehículo"
                      required>
                    <label>Cant. Pasajeros:</label>
                    <div *ngIf="passengers.touched && !passengers.valid">
                      <div class="required" *ngIf="passengers.errors.required">la Cantidad de Pasajeros es Requerido</div>
                    </div>
                  </div>

                  <div class="col s12 m6 l3">
                    <mat-form-field>
                      <input matInput class="example-full-width" [matDatepicker]="picker_exp_to" name="exp_to" #exp_to="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.exp_to"
                        placeholder="Fecha de Expiración de la Tarjeta de Operación">
                      <mat-datepicker-toggle matSuffix [for]="picker_exp_to"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker_exp_to></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col s12 m6 l3">
                    <mat-form-field>
                      <input matInput class="example-full-width" [matDatepicker]="picker_exp_soat" name="exp_soat" #exp_soat="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.exp_soat"
                        placeholder="Fecha de Expiración del SOAT">
                      <mat-datepicker-toggle matSuffix [for]="picker_exp_soat"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker_exp_soat></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col s12 m6 l3">
                    <mat-form-field>
                      <input matInput class="example-full-width" [matDatepicker]="picker_exp_prev" name="exp_prev" #exp_prev="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.exp_prev"
                        placeholder="Fecha de Expiración de la TecnicoMecanica">
                      <mat-datepicker-toggle matSuffix [for]="picker_exp_prev"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker_exp_prev></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col s12 m6 l3">
                    <mat-form-field>
                      <input matInput class="example-full-width" [matDatepicker]="picker_exp_tech" name="exp_tech" #exp_tech="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.exp_tech"
                        placeholder="Fecha de Expiración de la TecnicoMecanica">
                      <mat-datepicker-toggle matSuffix [for]="picker_exp_tech"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker_exp_tech></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col s12 m6 l3">
                    <mat-form-field>
                      <input matInput class="example-full-width" [matDatepicker]="picker_exp_rcc" name="exp_rcc" #exp_rcc="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.exp_rcc"
                        placeholder="Fecha de Expiración de la RCC">
                      <mat-datepicker-toggle matSuffix [for]="picker_exp_rcc"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker_exp_rcc></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col s12 m6 l2">
                    <mat-card-content>
                      <label class="tamaño-letra">Tipo Combustible:</label>
                      <section class="example-section">
                        <mat-slide-toggle class="example-margin" name="GNV" #GNV="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.GNV">
                          <p class="tamaño-letra-19" *ngIf="vehiculosService.selectedVehiculo.GNV">GVN</p>
                          <p class="tamaño-letra-19" *ngIf="!vehiculosService.selectedVehiculo.GNV">Otro</p>
                        </mat-slide-toggle>
                      </section>
                    </mat-card-content>
                  </div>
                  <div class="col s12 m6 l3 push-l1" *ngIf="vehiculosService.selectedVehiculo.GNV">
                    <mat-form-field>
                      <input matInput class="example-full-width" [matDatepicker]="picker_exp_gnv" name="exp_gnv" #exp_gnv="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.exp_gnv"
                        placeholder="Fecha de Expiración de GNV">
                      <mat-datepicker-toggle matSuffix [for]="picker_exp_gnv"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker_exp_gnv></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col s12 m6 l2">
                    <mat-card-content>
                      <label class="tamaño-letra">Estado:</label>
                      <section class="example-section">
                        <mat-slide-toggle class="example-margin" name="active" #active="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.active">
                          <p class="tamaño-letra-19" *ngIf="vehiculosService.selectedVehiculo.active">Activo</p>
                          <p class="tamaño-letra-19" *ngIf="!vehiculosService.selectedVehiculo.active">Inactivo</p>
                        </mat-slide-toggle>
                      </section>
                    </mat-card-content>
                  </div>
                  <div class="col s12 m6 l2">
                    <mat-card-content>
                      <label class="tamaño-letra">Tipo:</label>
                      <section class="example-section">
                        <mat-slide-toggle class="example-margin" name="internal" #internal="ngModel" [(ngModel)]="vehiculosService.selectedVehiculo.internal">
                          <p class="tamaño-letra-19" *ngIf="vehiculosService.selectedVehiculo.internal">Interno</p>
                          <p class="tamaño-letra-19" *ngIf="!vehiculosService.selectedVehiculo.internal">Externo</p>
                        </mat-slide-toggle>
                      </section>
                    </mat-card-content>
                  </div>
                </div>
                <div class="row">
                  <div class="card-action">
                    <div class="input-field col col s12 ">
                      <button class="btn btn-default right darkgray " (click)="resetForm(conductorForm)"> Cancelar </button>
                      <button class="btn right waves-effect black margin-separe"> Guardar </button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">directions_bus</i>Listado de Vehículos
        </div>
        <div class="card-conten">
          <table #dataTable ng="dataTable" class="display" style="width: 90%; margin: 0px 26px;">
            <thead>
              <tr>
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Lateral</th>
                <th>Clase</th>
                <th>N° Pasajeros</th>
                <th>Tipo</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vehiculo of vehiculosService.vehiculos">
                <td>{{vehiculo.plate}}</td>
                <td>{{vehiculo.model}}</td>
                <td>{{vehiculo.year}}</td>
                <td>{{vehiculo.lateral}}</td>
                <td>{{vehiculo.class}}</td>
                <td>{{vehiculo.passengers}}</td>
                <td>{{vehiculo.GNV== true ? 'GNV':'Otro'}} </td>
                <td>
                  <button class="btn black margin-separe" (click)="editVehiculo(vehiculo)" type="button">
                    <i class="material-icons">edit</i>
                  </button>
                  <button class="btn darkgray " type="button" (click)="deleteVehiculo(vehiculo._id)">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>